# Supabase Configuration
VITE_SUPABASE_URL=https://qsvuzobizalcgqnlxuqv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzdnV6b2JpemFsY2dxbmx4dXF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc5NjU4NzAsImV4cCI6MjA4MzU0MTg3MH0.5v7GvIzd2SMIPC7kgteCnkS5XxVTp1vs5-yLeUaLrw4

# Admin Password
VITE_ADMIN_PASSWORD=11@@11
